// Declaración de Variables para el Proyecto

// Tipografía
$fuente_principal: "Monserrat", sans-serif;
$fuente1: 'Fraunces', serif;

// Colores
$verde: #4CB8B3;
$rosa: #F53756;
$amarillo: #FEF46D;
$morado: #752F97;
$negro: #000000;
$blanco: #FFFFFF;

// Primary
$Dark-cyan: hsl(158, 36%, 37%);
$Cream: hsl(30, 38%, 92%);

// Neutral
$Very-dark-blue: hsl(212, 21%, 14%);
$Dark-grayish-blue: hsl(228, 12%, 48%);
$White: hsl(0, 0%, 100%);

// Tamaños de Media Query
$telefono: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;
